@model TrainingManagmentSystem.Models.SubSector
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>פרטי תת-סקטור</h2>
<div>
    <table class="table" style="font-size:12px">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubSectortype)
            </th>
            <td>
                @Html.DisplayFor(model => model.SubSectortype)
            </td>
        </tr>
    </table>
</div>
<td style="width:400px;">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit",new { id=Model.SubSectorID})">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>ערוך</span>
        </a>
    </div>
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary btn-sm" href="@Url.Action( "index")">
            <span class="glyphicon glyphicon-list"></span>
            <span>חזור לרשימה</span>
        </a>
    </div>
</td>
